Dictionary Exercises:
4.1 Create a dictionary with keys as student names and values as marks. Print all keys.

In [1]:
creative = {
    "one" : "akkas ",
    "score1": 100,
    "two":"alauddin",
    "score2" :99,
    "three":"momota benarji" ,
    "score3":88,
    "four":"norendro modi", 
    "score4":-10,
    "five":"sheik hasina", 
    "score5": 120,
}

print(creative)

{'one': 'akkas ', 'score1': 100, 'two': 'alauddin', 'score2': 99, 'three': 'momota benarji', 'score3': 88, 'four': 'norendro modi', 'score4': -10, 'five': 'sheik hasina', 'score5': 120}

4.2 Add a new key-value pair to a dictionary.

In [20]:
oppato = {
    "one" : {"name":"mahady hasan", "location": "bangladesh", "position":"barista"},
    "two": {"name":"abu sufean", "location": "noakhali", "position": "water"},
    "three":{"name":"md.hasan ali","location":"jessor","position":"cleaner"},
    "four":{"name":"mr.ali", "loction":"syria", "position":"area manager "},
    "five": {"name":"ohud", "loction":"saudi arabia", "position": "supervisor"},
    "six":{" name":"molbul miah", "loction":"cumilla ", "position": "cashear"},

}

oppato["one"]["salary"]=3000

print(oppato)

{'one': {'name': 'mahady hasan', 'location': 'bangladesh', 'position': 'barista', 'salary': 3000}, 'two': {'name': 'abu sufean', 'location': 'noakhali', 'position': 'water'}, 'three': {'name': 'md.hasan ali', 'location': 'jessor', 'position': 'cleaner'}, 'four': {'name': 'mr.ali', 'loction': 'syria', 'position': 'area manager '}, 'five': {'name': 'ohud', 'loction': 'saudi arabia', 'position': 'supervisor'}, 'six': {' name': 'molbul miah', 'loction': 'cumilla ', 'position': 'cashear'}}

4.3 Check if a specific key exists in a dictionary.

In [6]:
oppato = {
    "one" : {"name":"mahady hasan", "location": "bangladesh", "position":"barista"},
    "two": {"name":"abu sufean", "location": "noakhali", "position": "water"},
    "three":{"name":"md.hasan ali","location":"jessor","position":"cleaner"},
    "four":{"name":"mr.ali", "location":"syria", "position":"area manager "},
    "five": {"name":"ohud", "location":"saudi arabia", "position": "supervisor"},
    "six":{" name":"molbul miah", "location":"cumilla ", "position": "cashear"},

}

print("insurance" in oppato)
print("salary" in oppato)
print("location" in oppato)

False
False
False

In [11]:
oppato ["one"]["location"]= 'uganda'
print(oppato)

{'one': {'name': 'mahady hasan', 'location': 'uganda', 'position': 'barista'}, 'two': {'name': 'abu sufean', 'location': 'noakhali', 'position': 'water'}, 'three': {'name': 'md.hasan ali', 'location': 'jessor', 'position': 'cleaner'}, 'four': {'name': 'mr.ali', 'location': 'syria', 'position': 'area manager '}, 'five': {'name': 'ohud', 'location': 'saudi arabia', 'position': 'supervisor'}, 'six': {' name': 'molbul miah', 'location': 'cumilla ', 'position': 'cashear'}}