2. Set Exercises
2.1 Create two sets of integers and find their union.
Explanation: Practice union() or | operator.

In [5]:
set_1= {25,36,78,69,85,98}
set_2={78,98,65,45,12,32}
set_1.union(set_2)

{12, 25, 32, 36, 45, 65, 69, 78, 85, 98}

In [6]:
set_1.difference(set_2)

{25, 36, 69, 85}

2.2 Find the intersection of two sets.

In [16]:
set_1= {25,36,78,69,85,98}
set_2={78,98,65,45,12,32}
set_1.intersection(set_2)

{78, 98}

2.3 Remove one specific element from a set.

In [20]:
set_1= {25,36,78,69,85,98}
set_1.remove(36)
print(set_1)

{98, 69, 85, 25, 78}

2.4 Check whether one set is a subset of another.

In [21]:
set_1= {25,36,78,69,85,98}
set_2={78,98,65,45,12,32}

set_1.issubset(set_2)

False

2.5 Given a list with duplicates, convert it into a set to keep only unique items.

In [ ]:
set_1= [25,36,78,69,85,98,78,98,65,45,12,36]

ok=set(set_1)
print(ok)

{65, 98, 36, 69, 12, 45, 78, 85, 25}