1. List Exercises:
1.1 Create a list of 5 numbers and find their sum.

In [6]:
num=[17,25,4009,33,34]
total=sum(num)
print(total)

4118

In [11]:
a=num[0:3]
print(a)

[17, 25, 4009]

1.2 Given a list of fruits, add a new fruit to the end and remove one fruit from the start.

In [18]:
fruits=["banana","mango","apple","rasberry","avacado"]
fruits.append("orange")
print(fruits)

['banana', 'mango', 'apple', 'rasberry', 'avacado', 'orange']

In [22]:
fruits.pop(2)
print(fruits)

['banana', 'mango', 'avacado', 'orange']

1.3 Sort a list of integers in ascending order, then reverse it.

In [25]:
number=[2,5,9,1,6,11,5598,2569874,426685,5,96,632,5,6,5,2]

number.sort()
print(number)

[1, 2, 2, 5, 5, 5, 5, 6, 6, 9, 11, 96, 632, 5598, 426685, 2569874]

In [26]:
number.reverse()
print(number)

[2569874, 426685, 5598, 632, 96, 11, 9, 6, 6, 5, 5, 5, 5, 2, 2, 1]

1.4 Find the largest and smallest number in a given list.

In [32]:
comparison=[99,333,66,55,22,88,45,34]
largest=max(comparison)
print(largest)

333

In [33]:
smallest=min(comparison)
print(smallest)

22

1:5 Remove the first and last items from the list [100, 200, 300, 400, 500]

In [50]:
kajy=[100,200,300,400,500]

kajy.pop(4)
kajy.pop(0)

print(kajy)

[200, 300, 400]