3. Tuple Exercises
3.1 Create a tuple with 5 elements and print its second element.

In [3]:
akkas= ("abc","bro","sos","lagbe","na")

print(akkas[1])

bro

3.2 Concatenate two tuples into one.

In [5]:
tup1=(1,2,3,65,45,96,78,98,78)
tup2=(88,99,7,44,5,521,56,47,58962)
tup3=tup1+tup2
print(tup3)

(1, 2, 3, 65, 45, 96, 78, 98, 78, 88, 99, 7, 44, 5, 521, 56, 47, 58962)

3.3 Find the length of a tuple and check if a value exists in it.

In [9]:
tup1=(1,2,3,65,45,96,78,98,78)
tup2=(88,99,7,44,5,521,56,47,58962)
print(len(tup3))
print(30 in tup1)
print(521 in tup2)

18
False
True

3.4 Convert a tuple to a list, modify an element, and convert it back to a tuple.

In [13]:
tup=(1,2,3,65,45,96,78,98,78)

my_list=list(tup)
print(my_list)

[1, 2, 3, 65, 45, 96, 78, 98, 78]

In [15]:
my_list[3]=33
print(my_list)

[1, 2, 3, 33, 45, 96, 78, 98, 78]

In [18]:
my_tuple= tuple(my_list)
print(my_tuple)

(1, 2, 3, 33, 45, 96, 78, 98, 78)