In python we have 4 types of data . Such as :
1.Integer
2.Float
3.string
4.Boolean

1.Integer: Any types number can be integer 1, 6 ,9,4,58,69,100.......

In [1]:
a= 5

type (a)

int

In [2]:
b=500000000
type(b)

int

2.Float: Any types of decimel value will be float type data.
such as : 2.3, 45.66, 77.90000, 82.77642

In [3]:
a=5.600
type(a)

float

In [ ]:
String:
# Single inverted comma =['']
# double inverted comma =[" "]
# doc string = [''' ''']
# character string = "a","b","c",8
# word string = "hello", "abc" ,7.8
# sentence string = "Mahady Hasan Dedar"

In [4]:
I = "mahady hasan"
type(I)

str

BOOL: Boolean data types are True and false

In [ ]:
B= True 
type(B)

bool

In [11]:
C= False
type(C)

bool

Convertion:

In [13]:
# Int to float 
a=18
s= float(a)
print(s)
type(s)

18.0

float

In [15]:
#bool to int 
s= True 
n=int(s)
print(n)
type(n)

1

int

In [16]:
s=False
n= int(s)
print(n)
type (n)

0

int

In [17]:
# Int to bool 
Q = 100
W = bool(Q)
print(W)
type (W)

True

bool

In [19]:
Q = 0
W =bool (Q)
print(W)
type (W)

False

bool

In [20]:
Q = -1
W =bool (Q)
print(W)
type (W)

True

bool

In [21]:
#string to bool 
ok = "mahady"
oky = bool(ok)
print(oky)
type(oky)

True

bool

In [ ]:
ok = ""   # if you dont give space in inverted commma then ans will be False
oky = bool(ok)
print(oky)
type(oky)

False

bool

In [ ]:
ok = " "   # if you give space in inverted commma then ans will be True
oky = bool(ok)
print(oky)
type(oky)

True

bool