VARIABLE:

Valid variable :
myyvar="mahady"
My_VAR="HASAN"
_MY_VAR="DEDAR"
myvar-"jason"
myvar2="you"

Not Valid :
2myvar="jessika"
my-var="ostad"
mY var= "Abol tabol"
5myvar="pablo escober"

OPERATOR:
Here  7 types of operators i will explain with you.
1. Arithmatic operator
2.Comparison operator
3.Identity operator
4.Bitwise operator
5.Assignment operator
6.Logical operator
7.Membership operator

In [1]:
# Arithmetic Operators
a = 7
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)
print(a // b)

10
4
21
2.3333333333333335
1
343
2

In [2]:
# comparison operators
a = 7
b = 3

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
True
False
True
False

In [ ]:
# Assignment operator
a=8
a+=16
print(a)

24

In [22]:
a-=16
print(a)

8

In [23]:
a*=16
print(a)

128

In [30]:
a=35
a/=63
print(a)

0.5555555555555556

In [31]:
n=10
n%=35
print(n)

10

In [32]:
p=54
p//=23
print(p)

2

In [33]:
d=78
d&=7
print(d)

6

In [35]:
o=29
o|=11
print(o)

31

In [ ]:
T=13
T^=9
print(T)

4

In [ ]:
y=14
y>>=2
print(y)

3

In [ ]:
R=15
R<<=8
print(R)

3840

In [ ]:
Q=16
Q**=17
print(Q)

295147905179352825856

# Identity operator

# is 
# is not

In [41]:
10==10

True

In [42]:
10 is 10

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\mahad\AppData\Local\Temp\ipykernel_1028\3938569512.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  10 is 10

True

In [43]:
10 !=10

False

In [44]:
10 is not 10

<>:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
C:\Users\mahad\AppData\Local\Temp\ipykernel_1028\3919734364.py:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  10 is not 10

False

In [45]:
100 is 200

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\mahad\AppData\Local\Temp\ipykernel_1028\2869099607.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  100 is 200

False

In [47]:
500 is not 250

<>:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
C:\Users\mahad\AppData\Local\Temp\ipykernel_1028\2539764476.py:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  500 is not 250

True

In [48]:
# membership operator

7 in (8,9,10,7)

True

In [49]:
100 in (8,9,10,6)

False

In [50]:
2 in (35,25,23,9)

False

# logical operator

# AND
# OR
# NOT

In [51]:
3==4 and 4==4

False

In [52]:
2==2 or 2==9

True